# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Windows/Server-Core/data/
/Windows/Server-Core/log/
/Windows/Server-Core/x64/
*.user
*.vcxproj
*.filters
*.sln
CpuDiscription
CpuUsage
Windows/Server-Core/.vs/Server-Core/v17/ipch/AutoPCH/1cd6c9af62e571e1/MAIN.ipch
Windows/Server-Core/.vs/Server-Core/v17/Browse.VC.db
Windows/Server-Core/.vs/Server-Core/v17/.suo
Windows/Server-Core/.vs/Server-Core/project-colors.json
